<%= form_for(@bookmark) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= collection_select(:bookmark, :book_id, Book.all, :id, :generate_title, prompt: true) %>
  <div class="field">
    <%= f.label :chapters_total %><br>
    <%= f.text_field :chapters_total %>
  </div>
  <div class="field">
    <%= f.label :chapters_completed %><br>
    <%= f.text_field :chapters_completed %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :page_number %><br>
    <%= f.text_field :page_number %>
  </div>
  <div class="field">
    <%= f.label :git_repo %><br>
    <%= f.text_field :git_repo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
