%p#notice= notice

%p
  %strong Title:
  = @book.title

%p
  %strong Author:
  = @book.author

%p
  %strong Isbn:
  = @book.isbn

%p
  %strong Description:
  = @book.title_long

= link_to 'Edit', edit_book_path(@book) |
= link_to 'Back', books_path
